<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1>Add Collaborator</h1>

      <form action="/wikis/create" method="post">
        
      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
