body {
  padding-top: 70px;
}

#title {
  margin-top: 30px;
}

.jumbotron {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 80%;
  margin: 0 auto;
}

.features > section {
  margin-bottom: 40px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  width: 125px;
  height: 120px;
  margin: 0 auto;
  background: #e9ecef;
}

#new-wiki-btn {
  margin-bottom: 20px;
}

#profile-link > a {
  color: white;
}

#profile-link > a > span {
  color: #78cad3;
}

#importantMsg > span {
  color: red;
}

#collaborator {
  margin-top: 40px;
  display: flex;

}

#collaborator-user, #collaborator-current {
  flex-grow: 1;
  padding: 10px;
}

#collaborator-user > h4, #collaborator-current > h4 {
  margin-left: 15px;
  text-decoration: underline;
}

#collaborator-user > form > .list-group > li {
  margin-bottom: 5px;
}

.list-group > li {
  margin-bottom: 5px;
}

.list-group-item {
  border-width: medium;
}

#new-wiki-anchor {
  color: black;
  /*text-decoration: none;*/
}

#new-wiki-btn {
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px;
  padding: 10px 0;
  margin: 0 auto;
  width: 110px;
  text-align: center;
}

@media only screen and (min-width: 649px) {
  #collaborator-user, #collaborator-current {
    width: 50%;
  }
}
