<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>

  <body>
    <% include ./partials/navbar.ejs %>

    <main class="container">
      <header class="jumbotron my-4">
        <% include ./partials/messages.ejs %>
        
        <h1 class="display-3">Welcome to Blocipedia</h1>
        <p class="lead">An application that allows users to create, collaborate, and share wikis.</p>
        <a href="/users/signup" class="btn btn-primary btn-lg">Sign up</a>
      </header>
    </main>

    <% include ./partials/baseScripts.ejs %>
  </body>
</html>
