<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1>Upgrade Your Account</h1>

      <% include ../static/partials/messages.ejs %>

      <p>Become a premium member today to create private wikis!</p>

      <form action="/users/upgrade" method="post">
        <%/*<!--collect payment information to send to /users/upgrade-->*/%>
        <div>
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= stripePublishableKey %>"
            data-name="Collapedia"
            data-description="Upgrade to Premium"
            data-amount="1500"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto"
            data-zip-code="true">
          </script>
          <script>
            // hide default stripe button
            document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
          </script>
          <button type="submit" class="btn btn-primary">Upgrade for $15.00</button>
        </div>
      </form>
        <small class="text-muted">1. Your credit card will be charged $15.00 for this transaction.</small><br>
        <small class="text-muted" id="importantMsg">2. <span>Important!</span> Email must be the same as the one you used to sign up for Collapedia</small>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
